footer {
    border-top: 1px solid $primary-background;
    background-color: $inverse-background;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $primary-text;
    font-size: 12px;
    p {
        margin-bottom: 5px;
    }
}